@tailwind base;
@layer base {
  @font-face {
    font-family: "Gotham";
    font-weight: 900;
    src: url(./font/Gotham/Gotham-Black.otf);
  }
  @font-face {
    font-family: "Gotham";
    font-weight: 700;
    src: url(./font/Gotham/Gotham-Bold.otf);
  }
  @font-face {
    font-family: "Gotham";
    font-weight: 400;
    src: url(./font/Gotham/Gotham-Book.otf);
  }
  @font-face {
    font-family: "Gotham";
    font-weight: 500;
    src: url(./font/Gotham/Gotham-Medium.otf);
  }
}
@tailwind components;
@layer components {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
  }
  h1 {
    @apply text-H1 text-White font-sans font-black leading-none;
  }
  h2 {
    @apply text-H2 text-white font-sans font-black;
  }
  h3 {
    @apply text-H3 text-white font-sans font-black;
  }
  h4 {
    @apply text-H3 text-white font-sans font-bold;
  }
  h5 {
    @apply text-H5 text-white font-sans font-medium;
  }
  h6 {
    @apply text-H6 text-white font-sans font-medium;
  }
  th { @apply border-hidden }
  thead { @apply border-hidden }
  table { @apply border-hidden }
  tbody { @apply border-hidden }
  p {
    @apply text-lg text-Cloud font-sans font-normal
  }
}
@tailwind utilities;
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 0px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: black;
    margin: 0px 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vh;
  }
  .scrollbar2::-webkit-scrollbar {
    width: 20px;
    height: 3px;
  }

  .scrollbar2::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: black;
    margin: 0px 10px;
  }

  .scrollbar2::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vh;
    border: 1px solid grey;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #808080;
  }
  body::-webkit-scrollbar {
    width: 1px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: black; /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: white; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
  td {
    border-color : #2A2A2A !important
  }
  table {
    border: none !important
  }
  th {
    border: none !important
  }
  td.fc-day-today {
    background-color : #212121 !important
  }
}
